{% extends  "Prueba1BarraDeNavegacion.html" %}

{% block content %}
<!-- bloque de encabesado  -->
<div class="jumbotron">
  <!-- nombre del  bloque de encabesado  -->
  <h1 class="display-4">Bienvenido usuario!</h1>
  <!-- texto del bloque de encabesado  -->
  <p class="lead">Los perdedores se quejan de que los campeones se quejan de que entrenan.</p>
  <hr class="my-4">
  <!-- texto del bloque de encabesado  -->
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <!-- boton del bloque de encabesado
  <a class="btn btn-primary btn-lg" href="/Administrador" role="button">Registro Administrador</a>
-->
</div>

<!--texto de pagina -->
<h1>parte de juan y valentina </h1>
<p>loca juan </p>


{% endblock %}