{% extends  "AD/BDNadministrador.html" %}


{% block content %}

<!-- llamar colores -->
<link rel="stylesheet" href="/static/css/COopciones.css">
<!-- fondo-->
<div id="modulo">
  <!-- centrar 1-->
  <div class="container p-4">
    <!-- centrar 2-->
    <div class="container p-4">
      <div class="container p-4">
        <div class="container p-4">
          <div class="container p-4">
            <!-- texto-->
            <div class="container p-4" id="cuerpo">

              <div class="containe p-4" style="width: 800px; height: 200px;">
                <div class="containe p-4" style="width: 800px; height: 150px;">

                  <h1 class="display-4" id="titulo">El codigo escrito no esta en la base de datos </h1>

                  <div class="containe p-4" style="width: 800px; height: 80px;">
                    <p id="texto1">
                      <a class=" btn btn-primary btn-lg" href="/ADcalificar" id="volver" role="button" style="width: 120px; height: 50px;">volver</a>
                    </p>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}