{%extends 'layout.html'%}
{%block body%}

<div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action= "/actualizarrecarga/{{usuario.0}}" method="POST">
          <div class="form-group">
            <input type="text" name="cedula"  value="{{usuario.1}}"class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="nombre"  value="{{usuario.2}}"class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="telefono"  value="{{usuario.3}}"class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="saldo" value="{{usuario.4}}"class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="recarga" value="{{usuario.5}}"class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Actualizar
            </button>
            <button type="submit" class="btn btn-primary btn-block">
              Recargar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{%endblock%}
