{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4">
      {% with messages = get_flashed_messages()%}
      {% if messages %}
      {% for message in messages%}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor%}
      {% endif %}
      {% endwith%}
      <div class="card card-body">
        <form action= "{{url_for('Buscar')}}" method="POST">
          <div class="form-group">
            <input type="text" name="Busqueda" placeholder="Usuario"class="form-control">
            <button type="submit" class="btn btn-info btn-block">
              Buscar
            </button>
          </div>
        </form>
      </div>
      <br></br>
      <div class="col-md-14">
        <div class="card card-body">
          <form action= "{{url_for('contacto_nuevo')}}" method="POST">
            <div class="form-group">
              <input type="text" name="cedula" placeholder="Cedula"class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="nombre" placeholder="Nombre"class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="telefono" placeholder="Telefono"class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="saldo" placeholder="Saldo"class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Registrar
            </button>
          </form>
        </div>
      </div>
      <br></br>
      <div class="card card-body">
        <form action= "{{url_for('correo')}}" method="GET">
          <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block">
              Enviar informe
            </button>
          </div>
      </div>
      <br></br>
    </div>
    <div class="col-md-8">
      <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
           <td>ID</td>
           <td>cedula </td>
           <td>nombre</td>
           <td>telefono</td>
           <td>saldo</td>
           <td>opciones</td>
          </tr>
        </thead>
        <tbody>
          {%for usuario in usuarios%}
          <tr>
            <td>{{usuario.0}}</td>
            <td>{{usuario.1}}</td>
            <td>{{usuario.2}}</td>
            <td>{{usuario.3}}</td>
            <td>{{usuario.4}}</td>
            <td>
              <a href="/Editar/{{usuario.0}}"class="btn btn-secondary">Editar</a>
              <a href="/Eliminar/{{usuario.0}}"class= "btn btn-danger btn-delete">Eliminar</a>
              <a href="/Recargar/{{usuario.0}}"class= "btn btn-success ">Actualizar</a>
              <a href="/editar_saldo/{{usuario.0}}"class= "btn btn-success ">Recargar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
