{% extends  "AD/BDNadministrador.html" %}


{% block content %}
<!-- llamar colores -->
<link rel="stylesheet" href="/static/ColoresUsuario/CoHOusuario.css">
<!-- fondo-->
<div id="modulo">
  <!-- centrar 1-->
  <div class="container p-4">
    <!-- texto-->
    <div class="container p-4" id="cuerpo">

      <div class="row content-md-center">
        <!-- parte 1 -->
        <div class="col-5">
          <div class="container p-4">

            <div class="containe p-4" style="width: 550px; height: 30px;">
              <h1 class="display-4" id="texto1">Grafica de flujo de la </h1>
            </div>
            <div class="containe p-4" style="width: 550px; height: 55px;">
              <h1 class="display-4" id="texto1">semana</h1>
            </div>
            <img src="static/PruebaFoto.png" style="width: 500px; height: 400px;" class="rounded mx-auto d-block" lass="img-fluid" alt="Responsive image" />

            <div class="containe p-4" style="width: 550px; height: 10px;">
              <h1 class="display-4" id="texto3">En el siguiente gráfico podemos evidenciar</h1>
            </div>
            <div class="containe p-4" style="width: 550px; height: 10px;">
              <h1 class="display-4" id="texto3">mediante colores la cantidad de personas</h1>
            </div>
            <div class="containe p-4" style="width: 550px; height: 50px;">
              <h1 class="display-4" id="texto3">que asisten al GYM por hora y dia en la semana</h1>
            </div>

          </div>
        </div>
        <!-- parte 2-->
        <div class="col-7">
          <div class="container p-4">

            <div class="containe p-4" style="width: 550px; height: 500px;">
              <div class="containe p-4" style="width: 550px; height: 30px;">
                <h1 class="display-4" id="texto1">Horario</h1>
              </div>
              <div class="containe p-4" style="width: 600px; height: 30px;">
                <h1 class="display-4" id="texto2">Lunes a Viernes:9:00 a.m a 11:00 a.m</h1>
              </div>
              <div class="containe p-4" style="width: 550px; height: 30px;">
                <h1 class="display-4" id="texto2"> y de 3:00 p.m a 9:00 p.m </h1>
              </div>
              <div class="containe p-4" style="width: 550px; height: 30px;">
                <h1 class="display-4" id="texto2"> Sabado: 9:00 a.m a 11:00 a.m</h1>
              </div>
              <div class="containe p-4" style="width: 550px; height: 50px;">
                <h1 class="display-4" id="texto2">Domingo: No hay servicio</h1>
              </div>
              <div class="containe p-4">
                <img src="static/fotos/47095673861_5f02674194_o.jpg" style="width: 300px; height: 380px;" class="rounded mx-auto d-block" lass="img-fluid" alt="Responsive image" />
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


{% endblock %}