{% extends  "AD/BDNadministrador.html" %}


{% block content %}
<!-- llamar colores -->
<link rel="stylesheet" href="/static/ColoresUsuario/CoPPusuario.css">
<!-- fondo-->
<div id="modulo">
  <!-- centrar 1-->
  <div class="container p-4">
    <!-- centrar 2-->
    <div class="container p-4">
      <!-- texto-->
      <div class="container p-4" id="cuerpo">

        <h1 class="display-4"></h1>
        <!-- -->
        <!-- bloque 2 -->
        <div class="containe p-4">
          <div class="containe p-4" style="width: 1000px; height: 50px;">
            <h1 class="display-4" id="texto1">BIENVENIDO USUARIO</h1>
          </div>
          <div class="containe p-4" style="width: 1000px; height: 100px;">
            <h1 class="display-4" id="texto2">Estos son algunos consejos para mantener tu cuerpo en forma</h1>
          </div>
          <div class="row content-md-center">
            <!-- parte 12 -->
            <div class="col-6">
              <h1 class="display-4" id="texto2">Rutina con diversos ejercicios</h1>
              <a class="nav-link" href="http://online.pubhtml5.com/gwiq/yxwi/#p=1" id="parte12">
                <img src="/static/fotos/Circuito.jpg" width="480" height="500" alt="">
              </a>
            </div>
            <!-- parte 22 -->
            <div class="col-6">
              <div class="containe p-4">
                <div class="containe p-4" style="width: 1000px; height: 50px;">
                </div>
                <h1 class="display-4" id="texto2">Alimentacion balanceada</h1>
                <a class="nav-link" href="https://cuidateplus.marca.com/alimentacion/diccionario/comida-saludable.html" id="parte22">
                  <img src="/static/fotos/ComidaFit.jpg" width="450" height="300" alt="">
                </a>
              </div>
            </div>

          </div>
        </div>
        <!-- -->
        <h1 class="display-4"></h1>
        <!-- -->
        <!-- bloque 3 -->
        <div class="containe p-4" id="B3">
          <div class="row content-md-center">
            <!-- parte 1 -->
            <div class="col-8">
              <div class="containe p-4" style="width: 650px; height: 550px;" id="parte1">
                <video width="600" height="500" controls>
                  <source src="static/videos/Motivación GYM - SIN DOLOR NO HAY GANANCIA.mp4" type="video/mp4">
                </video>
              </div>
            </div>
            <!-- parte 2 -->
            <div class="col-4 " id="parte2">
              <div class="containe p-4">
                <img src="static/fotos/47095674071_49d4afe263_o.jpg" width="300" height="500" />
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>


{% endblock %}