{% extends  "AD/BDNadministrador.html" %}


{% block content %}
<!-- llamar colores -->
<link rel="stylesheet" href="/static/ColoresUsuario/CoSDusuario.css">
<!-- fondo-->
<div id="modulo">
  <!-- centrar 1-->
  <div class="container p-4">
    <!-- centrar 2-->
    <div div class="container p-4">
      <!-- texto-->

      <!-- encabesado 1 -->
      <div class="row ">
        <!-- bloque 1 de encabesado 1 -->
        <div class="container p-4 col " id="EB1">
          <div class="containe p-4" style="width: 450px; height: 70px;">
            <h1 id="texto1">Sede principal </h1>
          </div>
          <a class="nav-link" href="https://www.google.com/maps/place/Universidad+de+Ibagu%C3%A9/@4.4492616,-75.2008721,18z/data=!4m5!3m4!1s0x8e38c501c29ca757:0x9af91f037e28b32!8m2!3d4.450222!4d-75.1994068" id="parte22">
            <img src="/static/fotos/IMG_5827.jpg" width="450" height="300" alt="">
          </a>
          <div class="containe p-4" style="width: 450px; height: 40px;">
            <h1 id="texto2">Dir: carrera 22 Calle 67B,</h1>
          </div>
          <div class="containe p-4" style="width: 450px; height: 40px;">
            <h1 id="texto2">Av Ambalá, Ibagué, Tolima</h1>
          </div>
        </div>
        <!-- bloque 2 de encabesado 1 -->
        <div class="container p-4 col " id="EB2">
          <div class="containe p-4" style="width: 450px; height: 70px;">
            <h1 id="texto1">Sede Deportiva santa ana</h1>
          </div>
          <a class="nav-link" href="https://www.google.com/maps/place/Sede+Deportiva+Santa+Ana+Universidad+de+Ibague/@4.443438,-75.161825,17z/data=!3m1!4b1!4m5!3m4!1s0x8e38c57c62d48c2b:0x99f42cc6ebf0b09f!8m2!3d4.443438!4d-75.1596363" id="parte22">
            <img src="/static/fotos/IMG-2581.PNG" width="450" height="300" alt="">
          </a>
          <div class="containe p-4" style="width: 450px; height: 40px;">
            <h1 id="texto2">Dir: calle 123 MZ 35 – 42</h1>
          </div>
          <div class="containe p-4" style="width: 450px; height: 40px;">
            <h1 id="texto2">vía salado barrio Santa Ana </h1>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}
