{% extends "layout.html" %}

{% block content %}
<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  </style>
</head>

<div class="container p-1">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/imagenes/unibague4.jpg" alt="Ingenieria Electronica" width="1100" height="500">
        <div class="carousel-caption">
          <h4>Ingenieria Electronica</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/imagenes/unibague3.png" alt="Ingenieria Electronica" width="1100" height="500">
        <div class="carousel-caption">
          <h4>Ingenieria Electronica</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/imagenes/unibague.png" alt="Universidad de Ibague" width="1100" height="500">
        <div class="carousel-caption">
          <h4>Universidad de Ibague</h4>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

<div class="wrapper fadeInDown">
  <div class="jumbotron">
    <h1 class="display-4">FastPEL</h1>
    <!-- <p class="lead">(Rapido prestamo de equipos y laboratorios)</p> -->
    <p class="lead">Tu Software amigo, quien te acompañara en tus sulicitudes de equipos y laboratorios.</p>
    <hr class="my-4">
    <p>Agilidad, efectividad, eficiencia y eficacia.</p>
    <!-- <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Informacion</button>
    <div id="demo" class="collapse">
      Pronto encontrara informacion que te ayudara al manejo de FASTPEL.
      Gracias.
    </div> -->
  </div>


  {% for post in posts.items %}
    <div class="container p-1">
      <div class="jumbotron">
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" width="70" height="70">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
      </div>
    </div>
  {% endfor %}

  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
     {% if page_num %}
       {% if posts.page == page_num %}
         <a class="btn btn-info mb-4" href="{{ url_for('Fastpel', page=page_num) }}">{{ page_num }}</a>
       {% else %}
         <a class="btn btn-outline-info mb-4" href="{{ url_for('Fastpel', page=page_num) }}">{{ page_num }}</a>
       {% endif %}
     {% else %}
       ...
     {% endif %}
   {% endfor %}
</div>

<div class="sppb-addon-single-image-container" style="width:100%;">
  <a href="http://inscribete.unibague.edu.co" target="_blank" rel="noopener noreferrer">
    <img class="sppb-img-responsive " src="../static/imagenes/banner-calidad-footer.png" style="width:100%;" alt="Imagen decídete por la calidad en Unibagué">
  </a>
</div>

<div class="jumbotron" style="background-color: #9fa8da">
  <div class="row">
    <div id="sp-bottom3" class="col-xs-12 col-sm-6 col-md-3">
      <div class="sppb-column-addons">
        <div id="sppb-addon-1549639790847" class="clearfix">
          <div class="sppb-addon sppb-addon-text-block sppb-text-center title-bottom custom-center">
            <div class="sppb-addon-content">
              <h3><span style="font-size: 14pt;">Enlaces rápidos</span></h3>
            </div>
          </div>
        </div>
        <div id="sppb-addon-1549636284898" class="clearfix">
          <div class="sppb-addon sppb-addon-text-block sppb-text-center custom-center">
            <div class="sppb-addon-content">
              <span style="font-size: 12pt;">
                <strong> <a title=" Ingenieria Electronica " href="https://electronica.unibague.edu.co/" target="_blank" rel="noopener noreferrer">Ingenieria Electronica<br></a>
                </strong>
              </span>
              <br>
              <span style="font-size: 12pt;">
                <strong> <a title=" Pregúntale a la U " href="https://www.unibague.edu.co/preguntale-a-la-u" target="_blank" rel="noopener noreferrer">Pregúntale a la U<br></a>
                </strong>
              </span>
              <br>
              <span style="font-size: 12pt;">
                <strong> <a title=" Árbol de Tinta " href="https://arboldetinta.unibague.edu.co/" target="_blank" rel="noopener noreferrer">Árbol de tinta<br></a>
                </strong>
              </span>
              <br>
              <span style="font-size: 12pt;">
                <strong> <a title=" Escuela de Verano " href="http://escueladeverano.unibague.edu.co" target="_blank" rel="noopener noreferrer">Escuela de Verano<br></a>
                </strong>
              </span>
              <br>
              <span style="font-size: 12pt;">
                <strong><a title=" Felicitaciones, Solicitudes - Peticiones, Quejas y Reclamos " href="https://docs.google.com/forms/d/e/1FAIpQLSf3uFCrnexIgQqledPF_D-2E9H9zRjHUUc_yJNvznEAVo6m-g/viewform" target="_blank" rel="noopener noreferrer">Buzón FS-PQR<br></a>
                </strong>
              </span>
              <br>
              <span style="font-size: 12pt;">
                <strong> <a title=" Bienestar Universitario " href="http://bienestar.unibague.edu.co" target="_blank" rel="noopener noreferrer">Bienestar Universitario<br></a>
                </strong>
              </span>
              <br>
              <span style="font-size: 12pt;">
                <strong><a title=" ÁVACO " href="http://avaco.unibague.edu.co/" target="_blank" rel="noopener noreferrer">ÁVACO<br></a>
                </strong>
              </span>
              <br>
              <span style="font-size: 12pt;">
                <strong><a title=" Unidad de Emprendimiento  " href="http://unidaddeemprendimiento.unibague.edu.co" target="_blank" rel="noopener noreferrer">Unidad de Emprendimiento<br> </a>
                </strong>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sp-bottom1" class="col-sm-6 col-md-6 hidden-xs">
      <div class="sppb-addon sppb-addon-raw-html ">
        <div class="sppb-addon-content">
          <div class="mapouter">
            <div class="">
              <br>
              <iframe id="gmap_canvas" width="90%" height="320" src="https://maps.google.com/maps?q=Universidad%20de%20ibague&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sp-bottom2" class="col-xs-12 col-sm-6 col-md-3">
      <div class="sppb-addon sppb-addon-text-block sppb-text-left custom-center">
        <div class="sppb-addon-content">
          <div>
            <br>
            <strong>Universidad de Ibagué</strong>
            <br>
            <strong>Carrera 22 calle 67 - B/Ambalá</strong>
            <br>
            <strong>NIT: 890704382-1</strong>
            <br>
            <strong>Resolución 1867 de febrero 27 de 1981<br></strong>
            <br>
            <strong>PBX: +57 (8) 2760010</strong>
            <br>
            <strong>Línea gratuita nacional: 018000 91 0277</strong>
            <br><br>
            <strong>Ibagué (Tolima) Colombia</strong>
            <br>
          </div>
          <br>
          <span style="font-size: 12pt;">
            <strong> <a title=" Pregúntale a la U " href="https://es-la.facebook.com/SoyUnibague/" target="_blank" rel="noopener noreferrer">Facebook<br></a>
            </strong>
          </span>
          <br>
          <span style="font-size: 12pt;">
            <strong> <a title=" Pregúntale a la U " href="https://www.instagram.com/soyunibague/?hl=es-la" target="_blank" rel="noopener noreferrer">Instagram<br></a>
            </strong>
          </span>
          <br>
          <span style="font-size: 12pt;">
            <strong> <a title=" Pregúntale a la U " href="https://www.youtube.com/user/universidadeibague/videos" target="_blank" rel="noopener noreferrer">Youtube<br></a>
            </strong>
          </span>
          <br>
          <span style="font-size: 12pt;">
            <strong> <a title=" Pregúntale a la U " href="https://twitter.com/unibagueoficial" target="_blank" rel="noopener noreferrer">Twitter<br></a>
            </strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
