{% extends "layout.html" %}

{% block content %}

<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* div {
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 25px;
  } */
</style>

{% if current_user.username == "Administrador" %}
  <h2 class="text-center p-4 my-1" style="color:#fff;">SOLICITAR EQUIPO</h2>
<div class="wrapper fadeInDown">
  <div class="container p-4">
    <div class="jumbotron">
      <form method="POST">  <!--action="/action_page.php target=_self"-->

        <label for="ccequi" data-toggle="tooltip" data-placement="right" title="Si no sabe el codigo del equipo, abajo de esta pagina encontrara una tabla con los equipos prestados actualmente!">Codigo del equipo a solicitar:</label>
        <input type="text" id="ccequi" name="ccequipo" placeholder="Codigo del equipo..." required>

        <input type="submit" value="Guardar">
      </form>
      <h3 class="text-center p-4 my-1">{{info}}</h3>
      <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
      </script>
    </div>
  </div>


  <div class="container">
    <div class="jumbotron">
      <h2>Prestamos actuales</h2>
      <p>La siguiente tabla muestra la informacion de los equipos prestados actualmente:</p>
      {{ tabla_prestamos }}
      </div>
    </div>
</div>
{% endif %}

{% if current_user.username == "Monitores" %}
  <h2 class="text-center p-4 my-1" style="color:#fff;">SOLICITAR EQUIPO</h2>
<div class="wrapper fadeInDown">
  <div class="container p-4">
    <div class="jumbotron">
      <form method="POST">  <!--action="/action_page.php target=_self"-->

        <label for="ccequi" data-toggle="tooltip" data-placement="right" title="Si no sabe el codigo del equipo, abajo de esta pagina encontrara una tabla con los equipos prestados actualmente!">Codigo del equipo a solicitar:</label>
        <input type="text" id="ccequi" name="ccequipo" placeholder="Codigo del equipo..." required>

        <input type="submit" value="Guardar">
      </form>
      <h3 class="text-center p-4 my-1">{{info}}</h3>
      <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
      </script>
    </div>
  </div>


  <div class="container">
    <div class="jumbotron">
      <h2>Prestamos actuales</h2>
      <p>La siguiente tabla muestra la informacion de los equipos prestados actualmente:</p>
      {{ tabla_prestamos }}
      </div>
    </div>
</div>

{% endif %}

{% endblock content %}
