/*  barra de navegacion*/
#BarraDeNavegacion {
  background: #000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*opacity: .5;*/
  border: 2px solid #000;
}

/* titulo en barra de navegacion*/
#TUniGym {
  text-align: center;
  color: red;
}

/* boto de barra de navegacion*/
#Blogin {
  text-align: center;
  color: red;
}

#BGrafica {
  text-align: center;
  color: red;
}

#BDesplege {
  text-align: center;
  background: #fff;
}

#BPrincipal {
  text-align: center;
  background: #fff;
}

/* cambiar el color del texto en la pagina*/
body {
  margin: 10;
  background: #ADA996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* traer foto
  background-image: url("/static/fotos/logoGYM.jpg");
  background-size: cover;
  background-position:center;
  padding:15px;
  background-attachment: fixed; */
}
